$main: #191F37;
$gray: #535769;
$turquise: rgb(11, 106, 127);
$dirtywhite: #f5f5f5;
$h2: 48px;
$lightgray: #8c8f9b;
$yellow: rgb(238, 238, 34);
$desktop: 960px;
$mobileS: 320px;
$tablet: 768px;
$mobileL: 425px;
