@import "_variables.scss";

.footer {
    color: #f5f5f5;
    background-color: $turquise;
    padding: 10px 100px;
    font-size: 13px;
    font-family: 'Roboto';
    &__link {
        text-decoration: none;
        color: #f5f5f5;
    }
}