@charset "UTF-8";
.header {
  background-color: #676767;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
@media (max-width: 425px) {
  .header {
    background-color: lightgreen;
    min-width: 425px;
    min-height: 629px;
    padding: 0 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/img/background_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.header__article {
  height: 585px;
  margin-left: 200px;
  width: 585px;
  color: #fff;
  font-family: "Barlow", sans-serif;
}
@media (max-width: 425px) {
  .header__article {
    height: 152px;
    width: 425px;
    margin: 10px;
  }
}
.header__button {
  background-color: #0c697f;
  height: 52px;
  cursor: pointer;
  width: 232px;
  border: 0;
  color: #fff;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  line-height: 26px;
}
.header__button:hover {
  background-color: #191f37;
  font-size: 14px;
}
@media (max-width: 425px) {
  .header__button {
    position: absolute;
    bottom: 135px;
  }
}
.header__content {
  padding-left: 120px;
  width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
}
.header__cursor::before {
  content: "";
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
}
.header__cursor:hover {
  text-decoration: underline;
}
.header__cursor:hover:before {
  visibility: visible;
  width: 100%;
}
.header__description {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  margin-bottom: 30px;
  line-height: 25x;
}
@media (max-width: 425px) {
  .header__description {
    display: none;
  }
}
.header__description--mobile {
  display: none;
}
@media (max-width: 425px) {
  .header__description--mobile {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 20px;
    max-width: 395px;
  }
}
.header__extra::after {
  content: "∨";
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}
.header__flag {
  display: block;
}
.header__header {
  font-size: 70px;
  line-height: 62px;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .header__header {
    font-size: 35px;
    line-height: 35px;
    max-width: 395px;
  }
}
.header__link {
  text-decoration: none;
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 425px) {
  .header__link {
    display: none;
  }
}
.header__list {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.header__logo {
  cursor: pointer;
  margin-left: -130px;
  margin-top: 10px;
}
@media (max-width: 425px) {
  .header__logo {
    margin-left: -520px;
  }
}
.header__nav {
  height: 100px;
  position: relative;
}
.header__telephone {
  text-decoration: none;
  color: #fff;
  text-align: right;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}
.header__telephone:hover {
  color: #eeee22;
}

.services {
  font-family: "Barlow", sans-serif;
  background-color: #f5f5f5;
  color: #191F37;
  padding: 100px 20px 0;
}
@media (min-width: 960px) {
  .services {
    padding: 120px;
  }
}
.services__articles {
  max-width: 385px;
  padding: 0 20px;
}
@media (min-width: 960px) {
  .services__articles {
    width: 356px;
  }
}
.services__description {
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #191F37;
}
@media (min-width: 960px) {
  .services__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
}
.services__header {
  font-size: 48px;
  color: #191F37;
  margin-bottom: 50px;
}
.services__icon {
  height: 40px;
  width: 50px;
}
.services__paragraph {
  font-size: 17px;
  font-weight: normal;
  font-family: "Barlow", sans-serif;
  margin-top: 15px 0 0 0;
  color: #535769;
}
.services__underline {
  height: 3px;
  width: 48px;
  border: none;
  background-color: #0b6a7f;
  margin: 0;
}

.gallery {
  background-color: #f5f5f5;
  padding: 0 100px 80px 100px;
}
.gallery__photo {
  height: 240px;
  width: 190px;
}
.gallery__photos {
  display: flex;
  justify-content: space-around;
  width: 1200px;
}
.gallery__photos::before {
  content: "";
  background-color: #0b6a7f;
  width: 36x;
  height: 36px;
  border-radius: 50%;
}

.about {
  padding: 0 15px;
  background-color: #f5f5f5;
}
@media (min-width: 960px) {
  .about {
    padding: 0 100px;
  }
}
.about__button {
  background-color: #0c697f;
  height: 52px;
  width: 232px;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  line-height: 26px;
  margin-bottom: 70px;
}
.about__button:hover {
  background-color: #191f37;
}
.about__column--first {
  max-width: 585px;
}
.about__column--second {
  max-width: 482px;
}
.about__description {
  font-family: "Barlow", sans-serif;
  margin: 22px 0 35px 0;
  color: #535769;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
}
@media (min-width: 960px) {
  .about__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
}
.about__header {
  font-size: 48px;
  color: #191F37;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}
.about__logo {
  height: 40px;
  width: 50px;
  margin-bottom: 35px;
}
@media (min-width: 960px) {
  .about__logo {
    margin-bottom: 100px;
  }
}
.about__paragraph {
  font-size: 28px;
  line-height: 40px;
  font-family: "Barlow Semi Condensed", sans-serif;
  margin: 0;
}
.about__signature {
  font-family: "Barlow";
  font-style: italic;
  font-weight: normal;
  color: #8c8f9b;
  font-size: 20px;
  margin-top: 22px;
}
.about__underline {
  height: 3px;
  width: 48px;
  border: none;
  background-color: #0b6a7f;
  margin: 0;
}

.work {
  background-color: #0b6a7f;
  padding: 35px 15px 60px 15px;
}
@media (min-width: 960px) {
  .work {
    padding: 80px 100px;
  }
}
.work__block {
  margin-left: 15px;
  margin-top: 15px;
}
.work__description {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin: 0;
}
@media (min-width: 960px) {
  .work__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 40px;
         column-gap: 40px;
    row-gap: 80px;
    grid-template-rows: 1fr 1fr;
  }
}
.work__header {
  font-size: 48px;
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  margin: 50px 0 75px 0;
}
.work__img {
  height: 24px;
  width: 24px;
  fill: #fff;
  align-items: center;
  border: solid #fff 1px;
  border-radius: 50%;
  padding: 21px;
}
.work__item {
  display: grid;
  grid-template-columns: 70px 1fr;
}
.work__paragraph {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.work__underline {
  height: 3px;
  width: 48px;
  border: none;
  background-color: #fff;
  margin: 0;
}

.comments {
  padding: 100px 15px;
  background-color: #f5f5f5;
}
@media (min-width: 960px) {
  .comments {
    padding: 120px 100px;
  }
}
.comments__description {
  font-size: 18px;
  font-family: "Roboto";
  color: #fff;
  margin: 18px 50px 50px 50px;
  font-weight: 400;
  line-height: 27px;
  padding-bottom: 15px;
}
@media (min-width: 960px) {
  .comments__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.comments__link {
  color: #eeee22;
  font-size: 18px;
  font-family: "Roboto";
  margin: 23px 0 18px 0;
}
.comments__name {
  margin-bottom: 23px;
  font-size: 20px;
  color: #fff;
  font-family: "Barlow";
}
.comments__photo {
  margin-top: -45px;
}
.comments__table {
  background-color: #0b6a7f;
  border-radius: 30px;
  text-align: center;
}

.scroll {
  scroll-behavior: smooth;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  display: flex;
  bottom: 10px;
  right: 10px;
}
.scroll:hover {
  background-color: rgba(71, 68, 68, 0.781);
}
.scroll::after {
  content: "↑";
  font-weight: 400;
  display: flex;
  font-size: 30px;
  color: #fff;
  margin: 0 auto;
  justify-content: center;
}
.scroll__link {
  cursor: pointer;
}

.contact {
  background-image: url(assets/img/footer.jpeg);
  background-color: #0b6a7f;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
  color: #fff;
  padding: 30px 20px;
}
@media (min-width: 960px) {
  .contact {
    font-size: 17px;
    height: 200px;
    padding: 20px 100px;
  }
}
.contact__address {
  font-size: 17px;
  margin: 0;
  color: #f5f5f5;
}
@media (min-width: 960px) {
  .contact__column {
    height: 200px;
  }
}
.contact__description {
  color: #f5f5f5;
}
@media (min-width: 960px) {
  .contact__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
.contact__header {
  font-size: 20px;
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  margin-bottom: 27px;
}
.contact__mail {
  text-decoration: none;
  color: #f5f5f5;
  margin-top: 10px;
}
.contact__mail:hover {
  color: #eeee22;
}
.contact__postal {
  font-size: 12.75px;
  margin-bottom: 10px;
  color: #f5f5f5;
}
.contact__social {
  display: flex;
  width: 170px;
  justify-content: space-between;
}
.contact__social--media {
  height: 40px;
  width: 40px;
}
.contact__telephone {
  text-decoration: none;
  color: #f5f5f5;
  margin-bottom: 10px;
}
.contact__telephone:hover {
  color: #eeee22;
}

.footer {
  color: #f5f5f5;
  background-color: #0b6a7f;
  padding: 15px;
  font-size: 13px;
  font-family: "Roboto";
}
@media (min-width: 960px) {
  .footer {
    padding: 10px 100px;
  }
}
.footer__link {
  text-decoration: none;
  color: #f5f5f5;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #f5f5f5;
}

body {
  margin: 0;
}/*# sourceMappingURL=main.css.map */