@import "header.scss";
@import "services.scss";
@import "gallery.scss";
@import "about.scss";
@import "_variables.scss";
@import "work.scss"; 
@import "comments.scss";
@import "scroll.scss";
@import "contact.scss";
@import "footer.scss";
@import "main.js";


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: $dirtywhite;
 
}
body {
margin:0
} 

// @media only screen and (max-width: $mobileL) {
//     body {
//       background-color: lightcoral;
//     }
//   }
